* {
    border: 3px solid black;
}

.container {
    height: 100vh; /* this and the following line are temporary*/
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

input {
    border-radius: 15px;
    width: 45%;
    font-size: 20px;
}

.sidebar {
    grid-row: 1 / 3;
}