/* 
Using the emerald palette from
https://tailwindcss.com/docs/customizing-colors
*/

body{
    margin: 0;
}

.container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: 1%;
    position: relative;
    box-shadow: 0px 4px 5px rgba(178, 176, 176, 0.6);
}

.search {
    place-items: center;
    display: flex;
    padding-left: 5%;
}

form {
    width: 100%;
}

input {
    border: 0px;
    border-radius: 15px;
    width: 90%;
    font-size: 18px;
    background-color: #bbf7d0;
    padding: 4px;
}

.user {
    align-items: center;
    justify-items: end;
    display: flex;
    font-weight: bold;
    font-size: 24px;
    justify-content: center;
    gap: 5%;
}

img {
    border-radius: 50%;
}

.greeting {
    align-items: center;
    padding-left: 5%;
    display: flex;
    gap: 10px;
    font-weight: bold;
}

#name {
    margin-top: 5px;
    font-size: 24px;
}
.buttons {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

button {
    background-color: #10b981;
    color: white;
    border: 0px;
    font-size: 20px;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    background-color: #10b981;
    color: white;
    grid-template-rows: 40px 20% 10%;
    gap: 125px;
}

.dashboard {
    display: grid;
   grid-template-columns: 40px 1fr;
   align-items: center;
   font-size: 32px;
   grid-column-gap: 32px;
}

.dashboard p {
    margin: 16px 0px;
}

.dashboard svg {
    align-self: center;
    margin-left: 16px;
}

.options, .settings {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    font-size: 28px;
    margin: 0px;
    grid-column-gap: 32px;
}

.options p, .settings p{
    margin: 10px;
}

.options svg, .settings svg {
    align-self: center;
    margin-left: 16px;
}


.main-content {
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #bbf7d0;
    gap: 15px;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50.5px repeat(3, minmax(240px, 1fr));
    gap: 15px;
}

.projects .card {
    background-color: white;
    border-radius: 16px;
    border-left: 5px solid #10b981;
    box-shadow: 5px 5px 5px rgba(178, 176, 176, 0.6);
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: gray;
}

.title {
    grid-column: 1 / 3;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.projects p {
    font-size: 16px;
    margin-top: 16px;
}

.projects .title { 
    font-size: 20px;
    margin-bottom: 0px;
}

.icons {
    color: black;
    margin-top: 48px;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    gap: 16px;
}

.all-cards {
    background-color: white;
    padding: 16px 32px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgba(178, 176, 176, 0.6);
}

.card.one, .card.two {
    border-bottom: 1px solid lightgray;
}

.announcements .card p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 16px;
    color: gray;
}

.announcements .card .title {
    color: black;
    font-size: 16px;
    margin: 0px;
    margin-top: 16px;
}
